.gachapon {

  .machine {

    img {
      position: absolute;
      max-width: 80vw;
      max-height: 80vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.button{
        width: 10%;
        max-width: 80px;
        cursor: pointer;
        animation: buy-button 0.8s ease-in-out infinite;

        @keyframes buy-button {
          0%   { transform: translate(-50%, -50%) rotate(0deg); }
          20%  { transform: translate(-50%, -50%) rotate(0deg); }
          40%  { transform: translate(-50%, -50%) rotate(-20deg); }
          60%  { transform: translate(-50%, -50%) rotate(20deg); }
          80%  { transform: translate(-50%, -50%) rotate(0deg); }
          100% { transform: translate(-50%, -50%) rotate(0deg); }
        }
      }
    }
  }
}
