.gachapon {

  .machine {

    img {
      position: absolute;
      max-width: 80vw;
      max-height: 80vh;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &.button{
        width: 10%;
        max-width: 80px;
        cursor: pointer;
      }
    }
  }
}
