<div class="fighter-selector">
  <img class="close-button" src="../../../assets/images/close.png" (click)="closeDialog()">

  <p class="title">CHOOSE YOUR FIGHTER!</p>

  <div class="selector">
    <div class="fighter-item" *ngFor="let a of adults" (click)="selectFigther(a)">

      <div class="card card-front {{a.type}}">
        <img src="../../../assets/images/card.png" />
      </div>

      <div class="card card-background">
        <img src="../../../assets/images/card_back.png" />
      </div>

      <div class="name">
        <p>{{a.name}}</p>
      </div>

      <img src="../../../assets/images/panda/{{a.image}}.png" class="image" />

      <div class="data">
        <div class="stats">
          <span class="stats-name">ATK {{a.stats.atk}}<div class="progress-bar" [ngStyle]="{'background': createStyleForProgressBar(a.stats.atk, a.maxStats.atk, 'red')}"></div></span>
          <span class="stats-name">DEF {{a.stats.def}}<div class="progress-bar" [ngStyle]="{'background': createStyleForProgressBar(a.stats.def, a.maxStats.def, 'blue')}"></div></span>
          <span class="stats-name">VIT {{a.stats.vit}}<div class="progress-bar" [ngStyle]="{'background': createStyleForProgressBar(a.stats.vit, a.maxStats.vit, 'green')}"></div></span>
          <p>{{'Battles: ' + a.battleTotal}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
