<div class="list-buttons" id="list-buttons">
  <div class="refresh">
    <img *ngIf="!refreshing" src="../../../assets/images/refresh.png" (click)="refreshList()" />
    <img *ngIf="refreshing" class="disabled" src="../../../assets/images/refresh.png" />
  </div>

  <div class="close">
    <img class="close-button" src="../../../assets/images/close.png" (click)="closeDialog()">
  </div>
</div>

<div class="animal-detail">

  <h2>{{data.name}}</h2>

  <div class="data">

    <div *ngIf="data.attributes.animalAge === 3" class="info battles">
      <p>{{'Battles: ' + data.battleTotal}}<span>{{' (' + data.battleWon + ' won - ' + data.battleLost + ' lost)'}}</span></p>
    </div>

    <div class="image">
      <img *ngIf="data.attributes.animalAge !== 0" src="../../../assets/images/panda/{{data.image}}.png" >
      <img *ngIf="data.attributes.animalAge === 0" src="{{data.image}}" >
    </div>

    <div *ngIf="data.attributes.animalAge === 3" class="info experience">
      <p>{{'Experience: ' + data.attributes.experience}}</p>
    </div>

    <div class="stats" *ngIf="data.attributes.animalAge !== 0">
      <div class="stat stat-atk">
        <div class="stat-info">
          <img class="stat-info-image" src="../../../../assets/images/attack.png" />
          <p>{{data.attributes.attack}}</p>
        </div>
        <img *ngIf="data.attributes.animalAge === 3 && data.upgradingStat !== 0" class="stat-upgrade" src="../../../assets/images/train_skill.png" (click)="upgradeService.upgradeStat($event, data, 'ATK')" />
        <app-interaction *ngIf="data.attributes.animalAge === 3 && data.upgradingStat === 0" [data]="data" type="mini"></app-interaction>
      </div>
      <div class="stat stat-def">
        <div class="stat-info">
          <img class="stat-info-image" src="../../../../assets/images/defense.png" />
          <p>{{data.attributes.defense}}</p>
        </div>
        <img *ngIf="data.attributes.animalAge === 3 && data.upgradingStat !== 1" class="stat-upgrade" src="../../../assets/images/train_skill.png" (click)="upgradeService.upgradeStat($event, data, 'DEF')" />
        <app-interaction *ngIf="data.attributes.animalAge === 3 && data.upgradingStat === 1" [data]="data" type="mini"></app-interaction>
      </div>
      <div class="stat stat-vit">
        <div class="stat-info">
          <img class="stat-info-image" src="../../../../assets/images/vitality.png" />
          <p>{{data.attributes.vitality}}</p>
        </div>
        <img *ngIf="data.attributes.animalAge === 3 && data.upgradingStat !== 2" class="stat-upgrade" src="../../../assets/images/train_skill.png" (click)="upgradeService.upgradeStat($event, data, 'VIT')" />
        <app-interaction *ngIf="data.attributes.animalAge === 3 && data.upgradingStat === 2" [data]="data" type="mini"></app-interaction>
      </div>
    </div>

    <div *ngIf="data.attributes.animalAge === 3" class="info fight">
      <img *ngIf="!data.lookingOpponent" src="../../../assets/images/fight_stat_card.png" (click)="battleService.sendToFight($event, data)" />
      <img *ngIf="data.lookingOpponent" src="../../../assets/images/fight_stat_card.png" class="disabled" />
    </div>

    <app-interaction *ngIf="data.attributes.animalAge !== 3" [data]="data" type="big"></app-interaction>

  </div>

</div>
