<div class="list-buttons" id="list-buttons">
  <div class="refresh">
    <img *ngIf="!refreshing" src="../../../assets/images/refresh.png" (click)="refreshList()" />
    <img *ngIf="refreshing" class="disabled" src="../../../assets/images/refresh.png" />
  </div>

  <div class="close">
    <img class="close-button" src="../../../assets/images/close.png" (click)="closeDialog()">
  </div>
</div>

<div class="animal-detail">

  <h2>{{data.name}}</h2>

  <div class="data">
    <div class="image">
      <img *ngIf="data.attributes.animalAge !== 0" src="../../../assets/images/panda/{{data.image}}.png" >
      <img *ngIf="data.attributes.animalAge === 0" src="{{data.image}}" >
    </div>

    <div class="stats" *ngIf="data.attributes.animalAge !== 0">
      <div class="stat stat-atk">
        <div class="stat-info">
          <img class="stat-info-image" src="../../../../assets/images/attack.png" />
          <p>{{data.attributes.attack}}</p>
        </div>
        <img *ngIf="data.attributes.animalAge === 3" class="stat-upgrade" src="../../../assets/images/stat_atk_up.png" (click)="upgradeService.upgradeStat($event, data, 'ATK')" />
      </div>
      <div class="stat stat-def">
        <div class="stat-info">
          <img class="stat-info-image" src="../../../../assets/images/defense.png" />
          <p>{{data.attributes.defense}}</p>
        </div>
        <img *ngIf="data.attributes.animalAge === 3" class="stat-upgrade" src="../../../assets/images/stat_def_up.png" (click)="upgradeService.upgradeStat($event, data, 'DEF')" />
      </div>
      <div class="stat stat-vit">
        <div class="stat-info">
          <img class="stat-info-image" src="../../../../assets/images/vitality.png" />
          <p>{{data.attributes.vitality}}</p>
        </div>
        <img *ngIf="data.attributes.animalAge === 3" class="stat-upgrade" src="../../../assets/images/stat_vit_up.png" (click)="upgradeService.upgradeStat($event, data, 'VIT')" />
      </div>
    </div>

    <div *ngIf="data.attributes.animalAge === 3" class="info">
      <p>{{'EXP: ' + data.attributes.experience + ' (total exp: ' + data.attributes.experienceTotal + ')'}}</p>
      <p>{{'Battles: ' + data.battleTotal + ' (' + data.battleWon + ' won - ' + data.battleLost + ' lost)'}}</p>
      <img *ngIf="!data.lookingOpponent" src="../../../assets/images/fight.png" (click)="battleService.sendToFight($event, data)" />
    </div>

    <app-interaction [data]="data" type="big"></app-interaction>

  </div>

</div>
