@import '../../../style-variables.scss';

.school{
  .youngs {

    &-shown{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 53%;
      left: 50%;
      width: 480px;

      .young {
        display: none;
        padding: 10px;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);

        &#young-0 {
          position: relative;
          z-index: 1;
          display: inline-block;
          transform: translate(-25px, 70px);
          margin-left: 0vw;

          .young-animal {
            animation: young-move 10s ease-in-out infinite;
          }
        }

        &#young-1 {
          display: inline-block;

          .young-animal {
            animation: young-move 10s ease-in-out infinite;
            animation-delay: 3s;
          }
        }

        &#young-2 {
          display: inline-block;
          transform: translate(25px, 70px);

          .young-animal {
            animation: young-move 10s ease-in-out infinite;
            animation-delay: 7s;
          }
        }

        &-animal {
          cursor: pointer;
          width: 140px;

          @keyframes young-move {
            0%   { transform: rotate(0)      translateX(0px);   }
            10%  { transform: rotate(0)      translateX(0px);   }
            15%  { transform: rotate(10deg)  translateX(10px);  }
            20%  { transform: rotate(-10deg) translateX(-10px); }
            25%  { transform: rotate(0)      translateX(0px);   }
            50%  { transform: rotate(0)      translateX(0px);   }
            53%  { transform: rotate(5deg)   translateX(5px);   }
            55%  { transform: rotate(-5deg)  translateX(-5px);  }
            57%  { transform: rotate(0)      translateX(0px);   }
            100% { transform: rotate(0)      translateX(0px);   }
          }
        }

        &-table {
          position: absolute;
          bottom: -9%;
          z-index: -1;
          height: 245px;

          &0 {
            left: -100%;
          }

          &1 {
            left: -100%;
          }

          &2 {
            right: -100%;
          }
        }
      }
    }
  }

  .swiper-arrows {
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .prev {
      cursor: pointer;
      position: absolute;
      left: 0;
      height: 100px;
      width: 100px;
      font-size: 100px;
    }

    .next {
      transform: rotate(180deg);
      cursor: pointer;
      position: absolute;
      right: 0;
      height: 100px;
      width: 100px;
      font-size: 100px;
    }
  }
}




@media (max-width: 850px) {

  .school {
    .youngs {
      overflow: hidden;

      &-shown{
        white-space: nowrap;
        width: 100vw;

        .young {
          padding: 0;
          display: inline-block !important;
          text-align: center;
          transform: translate(0,0) !important;
          filter: drop-shadow(5px 5px 5px #222);
          width: 90vw;
          margin: 5vw;

          &-img-container {
            position: relative;
            margin: auto;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
          }

          &#young-0 {
            margin: 5vw;
            transition: margin-left 0.5s ease-in-out;
          }

          &-animal {
            width: 180px;
            animation: young-move 10s ease-in-out infinite;
          }

          &-table {
            height: unset;
            width: 600px;
            left: 50%;
            transform: translateX(-50%);
            bottom: -40px;
            z-index: -1;

            &0 {
              transform: translateX(0%) !important;
              width: 400px;
              left: -110%;
            }

            &1 {
              transform: translateX(0%) !important;
              width: 600px;
              left: -115%;
            }

            &2 {
              transform: translateX(0%) !important;
              width: 400px;
              left: -15%;
            }
          }
        }
      }
    }

    .swiper-arrows {
      display: block;
    }
  }
}
