@import '../../../style-variables.scss';

.playground{
  .babies {

    &-shown{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 60%;
      left: 50%;
      width: 480px;

      .baby {
        display: none;
        padding: 10px;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);

        &#baby-0 {
          display: inline-block;
          transform: translate(-25px, 70px);
          margin-left: 0vw;

          img {
            animation: baby-move 10s ease-in-out infinite;
          }
        }

        &#baby-1 {
          display: inline-block;

          img {
            animation: baby-move 10s ease-in-out infinite;
            animation-delay: 3s;
          }
        }

        &#baby-2 {
          display: inline-block;
          transform: translate(25px, 70px);

          img {
            animation: baby-move 10s ease-in-out infinite;
            animation-delay: 7s;
          }
        }

        img {
          cursor: pointer;
          width: 140px;

          @keyframes baby-move {
            0%   { transform: rotate(0)      translateX(0px);   }
            10%  { transform: rotate(0)      translateX(0px);   }
            15%  { transform: rotate(10deg)  translateX(10px);  }
            20%  { transform: rotate(-10deg) translateX(-10px); }
            25%  { transform: rotate(0)      translateX(0px);   }
            50%  { transform: rotate(0)      translateX(0px);   }
            53%  { transform: rotate(5deg)   translateX(5px);   }
            55%  { transform: rotate(-5deg)  translateX(-5px);  }
            57%  { transform: rotate(0)      translateX(0px);   }
            100% { transform: rotate(0)      translateX(0px);   }

            }
        }
      }
    }
  }

  .swiper-arrows {
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .prev {
      cursor: pointer;
      position: absolute;
      z-index: 5;
      left: 0;
      height: 100px;
      width: 100px;
      font-size: 100px;
      -webkit-animation: prev-arrow 2s ease-in-out infinite;
      animation: prev-arrow 2s ease-in-out infinite;

      @keyframes prev-arrow {
        0%   { left: 0px; }
        50%  { left: -5px; }
        100% { left: 0px; }
      }
    }

    .next {
      transform: rotate(180deg) scaleY(-1);
      cursor: pointer;
      position: absolute;
      z-index: 5;
      right: 0;
      height: 100px;
      width: 100px;
      font-size: 100px;
      -webkit-animation: next-arrow 2s ease-in-out infinite;
      animation: next-arrow 2s ease-in-out infinite;

      @keyframes next-arrow {
        0%   { right: 0px; }
        50%  { right: -5px; }
        100% { right: 0px; }
      }
    }
  }
}




@media (max-width: 600px) {

  .playground {
    .babies {
      overflow: hidden;

      &-shown{
        top: 55%;
        white-space: nowrap;
        width: 100vw;

        .baby {
          padding: 0;
          display: inline-block !important;
          text-align: center;
          transform: translate(0,0) !important;
          filter: drop-shadow(5px 5px 5px #222);
          width: 90vw;
          margin: 5vw;

          &#baby-0 {
            transition: margin-left 0.5s ease-in-out;
            margin: 5vw;
          }

          img {
            width: 180px;
            animation: baby-move 10s ease-in-out infinite;
          }
        }
      }
    }

    .swiper-arrows {
      display: block;
    }
  }
}
