<div class="playground background">
  <div class="babies-shown">
    <div *ngFor="let baby of data; let i = index" class="baby" id="baby-{{i}}">
      <img src="../../../assets/images/panda/{{baby.image}}.png" (click)="utilsService.openStats(baby)">
    </div>
  </div>

  <div class="swiper-arrows">
    <img src="../../../assets/images/buttons/slider_arrow.png"n class="prev" (click)="moveSlider(false)" />
    <img src="../../../assets/images/buttons/slider_arrow.png"n class="next" (click)="moveSlider(true)" />
  </div>
</div>
