@import '../../../style-variables.scss';

.eggcare {

  .eggs {

    &-shown{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 60%;
      left: 50%;
      width: 480px;

      .egg {
        display: none;
        padding: 10px;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);

        &#egg-0 {
          display: inline-block;
          transform: translate(-25px, 70px);
          margin-left: 0vw;
          transition: margin-left 0.5s ease-in-out;

          img {
            animation: egg-move 10s ease-in-out infinite;
          }
        }

        &#egg-1 {
          display: inline-block;

          img {
            animation: egg-move 10s ease-in-out infinite;
            animation-delay: 3s;
          }
        }

        &#egg-2 {
          display: inline-block;
          transform: translate(25px, 70px);

          img {
            animation: egg-move 10s ease-in-out infinite;
            animation-delay: 7s;
          }
        }

        img {
          width: 140px;

          @keyframes egg-move {
            0%   { transform: rotate(0)      translateX(0px);   }
            10%  { transform: rotate(0)      translateX(0px);   }
            15%  { transform: rotate(10deg)  translateX(10px);  }
            20%  { transform: rotate(-10deg) translateX(-10px); }
            25%  { transform: rotate(0)      translateX(0px);   }
            50%  { transform: rotate(0)      translateX(0px);   }
            53%  { transform: rotate(5deg)   translateX(5px);   }
            55%  { transform: rotate(-5deg)  translateX(-5px);  }
            57%  { transform: rotate(0)      translateX(0px);   }
            100% { transform: rotate(0)      translateX(0px);   }

            }
        }
      }
    }
  }

  .swiper-arrows {
    display: none;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .prev {
      cursor: pointer;
      position: absolute;
      left: 0;
      height: 100px;
      width: 100px;
      font-size: 100px;
    }

    .next {
      cursor: pointer;
      position: absolute;
      right: 0;
      height: 100px;
      width: 100px;
      font-size: 100px;
    }
  }
}




@media (max-width: 600px) {
  .eggcare {

    .eggs {
      overflow: hidden;

      &-shown{
        top: 55%;
        white-space: nowrap;
        width: 100vw;

        .egg {
          padding: 0;
          display: inline-block !important;
          text-align: center;
          transform: translate(0,0) !important;
          filter: drop-shadow(5px 5px 5px #222);
          width: 90vw;
          margin: 5vw;

          &#egg-0 {
            transition: margin-left 0.5s ease-in-out;
            margin: 5vw;
          }

          img {
            width: 70%;
            animation: egg-move 10s ease-in-out infinite;
          }
        }
      }
    }

    .swiper-arrows {
      display: block;
    }
  }
}
