<div class="eggcare background">
  <div class="eggs-shown">
    <div *ngFor="let egg of data; let i = index" class="egg" id="egg-{{i}}" (click)="utilsService.openStats(egg)">
      <img src="../../../assets/images/eggs/{{egg.type}}.png" >
    </div>
  </div>

  <div class="swiper-arrows">
    <img src="../../../assets/images/buttons/slider_arrow.png"n class="prev" (click)="moveSlider(false)" />
    <img src="../../../assets/images/buttons/slider_arrow.png"n class="next" (click)="moveSlider(true)" />
  </div>
</div>
