<div class="incubators background">

  <div class="incubators-container">

    <div *ngFor="let inc of incubators; let index = index" class="incubator" id="{{'incubator' + index}}">
      <img *ngIf="!inc.bought" src="../../../assets/images/incubator.png" class="locked" />
      <img *ngIf="inc.bought" src="../../../assets/images/incubator.png" />
      <span class="egg">
        <img *ngIf="inc.egg" src="../../../assets/images/eggs/{{inc.egg}}.png" />
      </span>
      <span style="position: absolute; left: 0;">{{inc.type}}</span>
    </div>

    <div class="swiper-arrows">
      <mat-icon class="prev" (click)="moveSlider(false)">navigate_before</mat-icon>
      <mat-icon class="next" (click)="moveSlider(true)">navigate_next</mat-icon>
    </div>
  </div>

</div>
