@import '../../../style-variables.scss';
@import '../../../styles.scss';

.incubators {

  &-container {
    position: relative;
    text-align: center;
    white-space: nowrap;
    top: 55%;
    transform: translateY(-50%);

    #incubator0 {
      transition: margin-left 0.5s ease-in-out;
      margin: 5vw;
    }

    .incubator {
      margin: 5vw;
      width: 23.33vw;
      display: inline-block;
      position: relative;

      .button {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;

        &:hover {
          width: 120px;
        }
      }

      img {
        height: 380px;

        &.locked {
          filter: brightness(0.05);

          &-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100px;
            -webkit-animation: wiggle 2s ease-in-out infinite;
            animation: wiggle 2s ease-in-out infinite;

            @keyframes wiggle {
              0%   { transform: translate(-50%, -50%) rotateZ(0); }
              7%   { transform: translate(-50%, -50%) rotateZ(0); }
              15%  { transform: translate(-50%, -50%) rotateZ(-15deg); }
              20%  { transform: translate(-50%, -50%) rotateZ(10deg); }
              25%  { transform: translate(-50%, -50%) rotateZ(-10deg); }
              30%  { transform: translate(-50%, -50%) rotateZ(6deg); }
              35%  { transform: translate(-50%, -50%) rotateZ(-4deg); }
              40%  { transform: translate(-50%, -50%) rotateZ(0); }
              100% { transform: translate(-50%, -50%) rotateZ(0); }
            }
          }
        }
      }

      .egg {
        position: absolute;
        font-size: 3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
          height: 120px;
          animation: float 6s ease-in-out infinite;

          &.delay0{ animation-delay: -0s; }
          &.delay1{ animation-delay: -2s; }
          &.delay2{ animation-delay: -4s; }
          &.delay3{ animation-delay: -6s; }
          &.delay4{ animation-delay: -1s; }
          &.delay5{ animation-delay: -3s; }
          &.delay6{ animation-delay: -5s; }
          &.delay7{ animation-delay: -7s; }
        }

        @keyframes float {
          0%   { transform: translateY(-5%); }
          50%  { transform: translateY(5%); }
          100% { transform: translateY(-5%); }
        }
      }
    }

    .swiper-arrows {
      display: block !important;
      top: 40%;
    }
  }
}


@media (max-width: 1200px) {
  .incubators-container .incubator {
    margin: 5vw;
    width: 40vw;
  }
}


@media (max-width: 800px) {
  .incubators-container .incubator {
    margin: 5vw;
    width: 90vw;
  }
}
