<div class="incubators background">

  <div class="incubators-container">

    <div *ngFor="let inc of incubators; let index = index" class="incubator" id="{{'incubator' + index}}">
      <!-- Incubator selection (bought, launched, comingSoon) -->
      <img *ngIf="!inc.bought" src="../../../assets/images/incubator.png" class="locked" />
      <img *ngIf="inc.bought" src="../../../assets/images/incubator.png" />

      <!-- Incubator icons -->
      <img *ngIf="!inc.bought && !inc.launched" src="../../../assets/images/coming_soon.png" class="locked-icon" />
      <img *ngIf="!inc.bought && inc.launched" src="../../../assets/images/padlock.png" class="locked-icon"/>

      <!-- Incubator buttons -->
      <img *ngIf="!inc.bought && inc.launched" src="../../../assets/images/buttons/buy.png" class="button buy" (click)="buyService.buyIncubator(inc)" />
      <img *ngIf="inc.bought && !inc.incubating" src="../../../assets/images/buttons/incubate.png" class="button incubate" (click)="openIncubatorDialog()" />

      <!-- Incubator egg -->
      <span class="egg" *ngIf="inc.incubating">
        <img class="delay{{index}}" src="../../../assets/images/eggs/{{inc.type}}.png" />
      </span>

      <!-- Incubator type -->
      <span style="position: absolute; left: 50%; transform: translateX(-50%); top: -40px; font-size: 2rem;">{{inc.type}}</span>
    </div>

    <div class="swiper-arrows">
      <img src="../../../assets/images/buttons/slider_arrow.png"n class="prev" (click)="moveSlider(false)" />
      <img src="../../../assets/images/buttons/slider_arrow.png"n class="next" (click)="moveSlider(true)" />
    </div>
  </div>

</div>
