<div class="fighter-selector">
  <p class="title">CHOOSE YOUR FIGHTER!</p>

  <div class="selector">
    <div class="fighter-item" *ngFor="let a of adults" (click)="selectFigther(a)">
      <img src="../../../assets/images/panda/{{a.type}}.png" class="image" />
      <div class="data">
        <p class="name">{{a.name}}</p>
        <div class="stats">
          <p>{{'ATK: ' + a.stats.atk}}</p>
          <p>{{'DEF: ' + a.stats.def}}</p>
          <p>{{'VIT: ' + a.stats.vit}}</p>
          <p>{{'Battles: ' + a.battleTotal}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
