<div class="gym background" (mousedown)="mouseStartSlider($event, $event.clientX)" (mouseup)="mouseStopSlider($event.clientX)" (touchstart)="mouseStartSlider($event, $event.changedTouches[0].screenX)" (touchend)="mouseStopSlider($event.changedTouches[0].screenX)">

  <div  class="machines">
    <div class="machine machine-height" id="first-machine">
      <div *ngIf="!machineHeightAnimal" class="add-button">
        <p>+</p>
      </div>
      <div *ngIf="machineHeightAnimal" class="working-animal height-animal" (click)="utilsService.openStats(machineHeightAnimal)">
        <img src="../../../assets/images/panda/{{machineHeightAnimal.image}}.png" />
      </div>
      <img src="../../../assets/images/backgrounds/height.png" class="height" />
    </div>

    <div class="machine machine-boxing">
      <div *ngIf="!machineBoxingAnimal" class="add-button">
        <p>+</p>
      </div>
      <div *ngIf="machineBoxingAnimal" class="working-animal boxing-animal" (click)="utilsService.openStats(machineBoxingAnimal)">
        <img src="../../../assets/images/panda/{{machineBoxingAnimal.image}}.png" />
      </div>
      <img src="../../../assets/images/backgrounds/boxing.png" class="boxing" />
    </div>

    <div class="machine machine-running">
      <div *ngIf="!machineRunningAnimal" class="add-button">
        <p>+</p>
      </div>
      <div *ngIf="machineRunningAnimal" class="working-animal running-animal" (click)="utilsService.openStats(machineRunningAnimal)">
        <img src="../../../assets/images/panda/{{machineRunningAnimal.image}}.png" />
      </div>
      <img src="../../../assets/images/backgrounds/running.png" class="running" />
    </div>

    <div class="swiper-arrows">
      <img src="../../../assets/images/buttons/slider_arrow.png"n class="prev" (click)="moveSlider(false)" />
      <img src="../../../assets/images/buttons/slider_arrow.png"n class="next" (click)="moveSlider(true)" />
    </div>
  </div>

</div>




