@import '../../../style-variables.scss';

.gym {
  user-select: none;
  -moz-user-select: none;

  .machines {
    position: relative;
    text-align: center;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);

    .machine {
      display: inline-block;
      margin: auto;
      position: relative;
      z-index: 0;

      &#first-machine {
        margin-left: unset;
      }

      &-height {
        position: absolute;
        left: 5%;
      }

      &-boxing {}

      &-running {
        position: absolute;
        right: 5%;
      }

      img {
        height: 400px;
        margin: 25px;

        &.height {
          transform: translateY(75px);
        }

        &.boxing {
          transform: translateY(-75px);
        }

        &.running {
          transform: translateY(75px);
        }
      }

      .add-button {
        cursor: pointer;
        position: absolute;
        margin: auto;
        background-color: limegreen;
        color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        z-index: 5;
        padding: 15px;
        border-radius: 10px;

        p {
          margin: 0;
        }

        &:hover {
          background-color: aqua;
          color: $black;
        }
      }

      .working-animal {
        cursor: pointer;
        position: absolute;
        z-index: 5;
        transform: translate(-50%, -50%);

        &.height-animal {
          top: 73%;
          left: 62%;
          transform: translate(-50%, -50%);
          animation: height-machine 1.5s ease-in-out infinite;
          z-index: 1;

          @keyframes height-machine {
            0%   { top: calc(73% + 1px); left: calc(62% + 1px); transform: translate(-50%, -50%) rotate(0deg); }
            5%   { top: calc(73% + -1px); left: calc(62% + -2px); transform: translate(-50%, -50%) rotate(-1deg); }
            10%  { top: calc(73% + -3px); left: calc(62% + 0px); transform: translate(-50%, -50%) rotate(1deg); }
            15%  { top: calc(73% + 3px); left: calc(62% + 2px); transform: translate(-50%, -50%) rotate(0deg); }
            20%  { top: calc(73% + 1px); left: calc(62% + -1px); transform: translate(-50%, -50%) rotate(1deg); }
            25%  { top: calc(73% + -1px); left: calc(62% + 2px); transform: translate(-50%, -50%) rotate(-1deg); }
            30%  { top: calc(73% + -3px); left: calc(62% + 1px); transform: translate(-50%, -50%) rotate(0deg); }
            35%  { top: calc(73% + 3px); left: calc(62% + 1px); transform: translate(-50%, -50%) rotate(-1deg); }
            40%  { top: calc(73% + -1px); left: calc(62% + -1px); transform: translate(-50%, -50%) rotate(1deg); }
            45%  { top: calc(73% + 1px); left: calc(62% + 2px); transform: translate(-50%, -50%) rotate(0deg); }
            50%  { top: calc(73% + 1px); left: calc(62% + -2px); transform: translate(-50%, -50%) rotate(-1deg); }
            55%  { top: 73%; left: 62%; transform: translate(-50%, -50%) rotate(-1deg); }
            100%  { top: 73%; left: 62%; transform: translate(-50%, -50%) rotate(-1deg); }
          }
        }

        &.boxing-animal {
          top: 50%;
          left: 70%;
          transform: translate(-50%, -50%);
          animation: boxing-machine 4s ease-in-out infinite;
          z-index: 1;

          @keyframes boxing-machine {
            0%   { top: 50%; left: 60%; transform: translate(-50%, -50%) scale(1); }
            12%  { top: 40%; left: 50%; transform: translate(-50%, -50%) scale(0.9); }
            25%  { top: 50%; left: 40%; transform: translate(-50%, -50%) scale(1); }
            35%  { top: 48%; left: 40%; transform: translate(-50%, -50%) scale(1); }
            50%  { top: 50%; left: 40%; transform: translate(-50%, -50%) scale(1); }
            63%  { top: 40%; left: 50%; transform: translate(-50%, -50%) scale(0.9); }
            75%  { top: 50%; left: 60%; transform: translate(-50%, -50%) scale(1); }
            88%  { top: 48%; left: 60%; transform: translate(-50%, -50%) scale(1); }
            100% { top: 50%; left: 60%; transform: translate(-50%, -50%) scale(1); }
          }
        }

        &.running-animal {
          top: 60%;
          left: 42%;
          transform: translate(-50%, -50%);
          animation: running-machine 2s ease-in-out infinite;
          z-index: 1;

          @keyframes running-machine {
            0%   { top: 58%; left: 20%; }
            33%  { top: 50%; }
            66%  { top: 56%; left: 50%; }
            100% { top: 58%; left: 20%; }
          }
        }

        img {
          height: 250px;
        }
      }
    }

    .swiper-arrows {
      top: 40%;
    }
  }
}




@media (max-width: 1000px) {
  .gym {

    .machines {

      .machine {
        width: 90vw;
        margin: 5vw;

        &#first-machine {
          margin-left: 5vw;
          transition: margin-left 0.5s ease-in-out;
        }

        &-height {
          position: relative;
          left: unset;
        }

        &-boxing {
          position: relative;
          left: unset;
          right: unset;
        }

        &-running {
          position: relative;
          right: unset;
        }

        img {

          &.height {
            transform: unset;
            max-width: 100%;
            margin: 0px;
          }

          &.boxing {
            transform: translate(0px, -50px);
            max-width: 100%;
            margin: 0px;
          }

          &.running {
            transform: translate(0px, 70px);
            max-width: 100%;
            margin: 0px;
          }
        }

        .working-animal {

          &.height-animal {
            top: 55%;
            left: 57%;
            transform: translate(-50%, -50%) rotate(-50deg);

            @keyframes height-machine {
              0%   { top: calc(55% + 1px); left: calc(57% + 1px); transform: translate(-50%, -50%) rotate(0deg); }
              5%   { top: calc(55% + -1px); left: calc(57% + -2px); transform: translate(-50%, -50%) rotate(-1deg); }
              10%  { top: calc(55% + -3px); left: calc(57% + 0px); transform: translate(-50%, -50%) rotate(1deg); }
              15%  { top: calc(55% + 3px); left: calc(57% + 2px); transform: translate(-50%, -50%) rotate(0deg); }
              20%  { top: calc(55% + 1px); left: calc(57% + -1px); transform: translate(-50%, -50%) rotate(1deg); }
              25%  { top: calc(55% + -1px); left: calc(57% + 2px); transform: translate(-50%, -50%) rotate(-1deg); }
              30%  { top: calc(55% + -3px); left: calc(57% + 1px); transform: translate(-50%, -50%) rotate(0deg); }
              35%  { top: calc(55% + 3px); left: calc(57% + 1px); transform: translate(-50%, -50%) rotate(-1deg); }
              40%  { top: calc(55% + -1px); left: calc(57% + -1px); transform: translate(-50%, -50%) rotate(1deg); }
              45%  { top: calc(55% + 1px); left: calc(57% + 2px); transform: translate(-50%, -50%) rotate(0deg); }
              50%  { top: calc(55% + 1px); left: calc(57% + -2px); transform: translate(-50%, -50%) rotate(-1deg); }
              55%  { top: 55%; left: 57%; transform: translate(-50%, -50%) rotate(-1deg); }
              100%  { top: 55%; left: 57%; transform: translate(-50%, -50%) rotate(-1deg); }
            }
          }

          &.boxing-animal {
            top: 70%;
            left: 60%;

            @keyframes boxing-machine {
              0%   { top: 65%; left: 55%; transform: translate(-50%, -50%) scale(1); }
              12%  { top: 60%; left: 50%; transform: translate(-50%, -50%) scale(0.9); }
              25%  { top: 65%; left: 45%; transform: translate(-50%, -50%) scale(1); }
              35%  { top: 62%; left: 45%; transform: translate(-50%, -50%) scale(1); }
              50%  { top: 65%; left: 45%; transform: translate(-50%, -50%) scale(1); }
              63%  { top: 60%; left: 50%; transform: translate(-50%, -50%) scale(0.9); }
              75%  { top: 65%; left: 55%; transform: translate(-50%, -50%) scale(1); }
              88%  { top: 62%; left: 55%; transform: translate(-50%, -50%) scale(1); }
              100% { top: 65%; left: 55%; transform: translate(-50%, -50%) scale(1); }
            }
          }

          &.running-animal {
            top: 40%;
            left: 42%;

            @keyframes running-machine {
              0%   { top: 58%; left: 40%; }
              33%  { top: 50%; }
              66%  { top: 56%; left: 50%; }
              100% { top: 58%; left: 40%; }
            }
          }

          img {
            height: 250px;
          }
        }
      }

      .swiper-arrows {
        display: block;
      }
    }
  }
}
