<div class="gym background">

  <div  class="machines">
    <div class="machine machine-height" id="first-machine">
      <div *ngIf="!machineHeightAnimal" class="add-button">
        <p>+</p>
      </div>
      <div *ngIf="machineHeightAnimal" class="working-animal height-animal">
        <img src="../../../assets/images/panda/{{machineHeightAnimal.type}}.png" />
      </div>
      <img src="../../../assets/images/height.png" class="height" />
    </div>

    <div class="machine machine-boxing">
      <div *ngIf="!machineBoxingAnimal" class="add-button">
        <p>+</p>
      </div>
      <div *ngIf="machineBoxingAnimal" class="working-animal boxing-animal">
        <img src="../../../assets/images/panda/{{machineBoxingAnimal.type}}.png" />
      </div>
      <img src="../../../assets/images/boxing.png" class="boxing" />
    </div>

    <div class="machine machine-running">
      <div *ngIf="!machineRunningAnimal" class="add-button">
        <p>+</p>
      </div>
      <div *ngIf="machineRunningAnimal" class="working-animal running-animal">
        <img src="../../../assets/images/panda/{{machineRunningAnimal.type}}.png" />
      </div>
      <img src="../../../assets/images/running.png" class="running" />
    </div>

    <div class="swiper-arrows">
      <mat-icon class="prev" (click)="moveSlider(false)">navigate_before</mat-icon>
      <mat-icon class="next" (click)="moveSlider(true)">navigate_next</mat-icon>
    </div>
  </div>

</div>




