<div class="pairing">
  <h1>Waiting for an opponent...</h1>
  <div class="fighter">
    <div class="image">
      <img src="../../../../assets/images/panda/{{fighter.image}}.png" class="user" />
    </div>
    <h2>{{fighter.name}}</h2>
  </div>
  <img src="../../../../assets/images/vs.png" class="versus" />
  <div class="fighter">
    <div class="image">
      <img src="../../../../assets/images/panda/{{opponent.image}}.png" class="user "/>
    </div>
    <h2>{{opponent.name}}</h2>
  </div>

</div>
