<div class="animal-detail">

  <h2>{{data.name}}</h2>

  <div class="data">
    <div class="image">
      <img src="../../../assets/images/panda/{{data.type}}.png" >
    </div>

    <div class="stats">
      <div class="stat stat-atk">
        <p>{{'ATK: ' + data.stats.atk}}</p>
        <img src="../../../assets/images/stat_atk_up.png" (click)="upgradeService.upgradeStat($event, data, 'ATK')" />
      </div>
      <div class="stat stat-def">
        <p>{{'DEF: ' + data.stats.def}}</p>
        <img src="../../../assets/images/stat_def_up.png" (click)="upgradeService.upgradeStat($event, data, 'DEF')" />
      </div>
      <div class="stat stat-vit">
        <p>{{'VIT: ' + data.stats.vit}}</p>
        <img src="../../../assets/images/stat_vit_up.png" (click)="upgradeService.upgradeStat($event, data, 'VIT')" />
      </div>
    </div>

    <div *ngIf="data.stage === 3" class="info">
      <p>{{'EXP: ' + data.experience + ' (total exp: ' + data.experienceTotal + ')'}}</p>
      <p>{{'Battles: ' + data.battleTotal + ' (' + data.battleWon + ' won - ' + data.battleLost + ' lost)'}}</p>
    </div>
  </div>

</div>
