<div class="lobby background">
  <div class="fighter" id="selectFighter">
    <p *ngIf="!fighter" style="font-size: 2rem;">Fighter not found, <span (click)="openFighterDialog()" style="cursor: pointer; color: blue;">please choose your fighter.</span></p>
    <div *ngIf="fighter" class="data">
      <div class="image">
        <img src="../../../assets/images/panda/{{fighter.image}}.png" />
      </div>
      <div class="options">
        <p>{{fighter.name}}</p>
        <img class="button" src="../../../assets/images/buttons/lobby_change.png" (click)="openFighterDialog()" />
        <img class="button" src="../../../assets/images/buttons/lobby_leave.png" routerLink="/home" />
        <img class="button" src="../../../assets/images/buttons/lobby_fight.png" (click)="battleService.sendToFight(fighter)" />
      </div>
    </div>
  </div>

</div>

<div class="nav-bottomright">
  <div class="nav-button" (click)="openFighterDialog()">
    <img class="location desktop" src="../../../assets/images/buttons/battle.png" />
    <img class="location desktop active" src="../../../assets/images/buttons/battle_active.png" />

    <img class="location mobile" src="../../../assets/images/buttons/battle_mobile.png" />
    <img class="location mobile active" src="../../../assets/images/buttons/battle_mobile_active.png" />
  </div>
</div>
