<div class="list">

  <div class="list-category eggs">
    <div *ngFor="let e of egg; let i = index" class="item egg" id="egg-{{i}}">
      <img src="../../../assets/images/eggs/{{e.type}}.png" >
    </div>
  </div>

  <div class="list-category babies">
    <div *ngFor="let b of baby; let i = index" class="item baby" id="baby-{{i}}">
      <img src="../../../assets/images/panda/{{b.type}}.png" >
    </div>
  </div>

  <div class="list-category youngs">
    <div *ngFor="let y of young; let i = index" class="item young" id="young-{{i}}">
      <img src="../../../assets/images/panda/{{y.type}}.png" >
    </div>
  </div>

  <div class="list-category adults">
    <div *ngFor="let a of adult; let i = index" class="item adult" id="adult-{{i}}">
      <img src="../../../assets/images/panda/{{a.type}}.png" >
    </div>
  </div>

</div>
