
<div class="list-buttons" id="list-buttons">
  <div class="refresh">
    <img *ngIf="!refreshing" src="../../../assets/images/refresh.png" (click)="refreshList()" />
    <img *ngIf="refreshing" class="disabled" src="../../../assets/images/refresh.png" />
  </div>

  <div class="close">
    <img class="close-button" src="../../../assets/images/close.png" (click)="closeDialog()">
  </div>
</div>

<div class="lists" id="lists">

  <div class="tabs">
    <div class="tab tab-1" id="tab-eggs" (click)="changeTab($event)">Egg</div>
    <div class="tab tab-2" id="tab-babies" (click)="changeTab($event)">Baby</div>
    <div class="tab tab-3" id="tab-youngs" (click)="changeTab($event)">Young</div>
    <div class="tab tab-4" id="tab-adults" (click)="changeTab($event)">Adult</div>
  </div>

  <div class="list">
    <div class="list-category eggs hidden" id="cat-eggs">
      <div *ngFor="let e of egg; let i = index" class="item egg" id="egg-{{i}}">
        <div *ngIf="e.image !== 'waiting'" (click)="utilsService.openStats(e)">
          <h2>{{types[e.attributes.animalType] + ' egg'}}</h2>
          <img src="{{e.image}}" />
          <app-interaction [data]="e" type="mini"></app-interaction>
        </div>
        <div *ngIf="e.image === 'waiting'">
          <h2>{{'New egg'}}</h2>
          <img src="../../../../assets/images/eggs/waiting.png" />
        </div>
      </div>
    </div>

    <div class="list-category babies hidden" id="cat-babies">
      <div *ngFor="let b of baby; let i = index" class="item baby" id="baby-{{i}}" (click)="utilsService.openStats(b)">
        <h2>{{b.name}}</h2>
        <img src="../../../assets/images/panda/{{b.image}}.png" />
        <app-interaction [data]="b" type="mini"></app-interaction>
      </div>
    </div>

    <div class="list-category youngs hidden" id="cat-youngs">
      <div *ngFor="let y of young; let i = index" class="item young" id="young-{{i}}" (click)="utilsService.openStats(y)">
        <h2>{{y.name}}</h2>
        <img src="../../../assets/images/panda/{{y.image}}.png" />
        <app-interaction [data]="y" type="mini"></app-interaction>
      </div>
    </div>

    <div class="list-category adults hidden" id="cat-adults">
      <div *ngFor="let a of adult; let i = index" class="item adult" id="adult-{{i}}" (click)="utilsService.openStats(a)">
        <h2>{{a.name}}</h2>
        <img src="../../../assets/images/panda/{{a.image}}.png" >
        <div class="adult-buttons">
          <img src="../../../assets/images/stats.png" />
          <img *ngIf="!a.lookingOpponent" src="../../../assets/images/fight.png" (click)="battleService.sendToFight($event, a)" />
        </div>
      </div>
    </div>
  </div>

</div>
