@import '../../../../style-variables.scss';

.list-buttons {
  position: absolute;
  top: -60px;
  width: 100%;

  .refresh {
    display: inline-block;
    width: 50%;
    text-align: left;

    img {
      cursor: pointer;
      height: 50px;
    }

    .disabled {
      cursor: default;
      filter: saturate(0);
      animation: rotate-refresh 2s ease-in-out infinite;

      @keyframes rotate-refresh {
        0%   {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
      }
    }
  }

  .close {
    display: inline-block;
    width: 50%;
    text-align: right;

    img {
    cursor: pointer;
      height: 50px;
    }
  }
}

.lists {
  height: 100%;
  border-radius: 15px;

  .tabs{

    .tab{
      display: inline-block;
      cursor: pointer;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      background-color: $lightgrey;
      box-sizing: border-box;
      border: 2px solid $black;
      width: 25%;
      border-radius: 15px 15px 0 0;
      font-size: 1.5rem;
      padding: 1% 0 1%;

      &.active {
        background-color: $white;
        border-bottom-width: 0;
        padding: calc(1% + 2px) 0 calc(1% + 2px);
      }
    }
  }

  .list {
    overflow: hidden;
    height: 91%;
    padding-right: 3px;
    background-color: $white;
    border-radius: 0 0 15px 15px;
    border: 2px solid $black;
    border-top-width: 0;

    &-category {
      overflow: auto;
      max-height: 100%;
      // scrollbar on firefox
      scrollbar-color: $lightgrey transparent;
      scrollbar-width: thin;

      &.eggs {
        cursor: default;
      }

      .item {
        cursor: pointer;
        position: relative;
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        width: 25.33%;
        padding: 3%;
        margin: 1%;

        &:hover {
          background-color: $lightgrey;
        }

        h2 {
          font-family: $main-font;
          text-transform: capitalize;
          white-space: nowrap;
          font-weight: bold;
          margin: 0;
        }

        img {
          max-width: 50%;
          max-height: 110px;
          margin-top: 5%;
          -webkit-filter: drop-shadow(5px 5px 5px #222);
          filter: drop-shadow(5px 5px 5px #222);
        }

        .adult-buttons {
          position: absolute;
          display: inline-block;
          white-space: nowrap;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);

          img {
            width: 40%;
            margin: 0 5%;

            &:hover {
              filter: drop-shadow(5px 5px 5px #222) hue-rotate(-100deg);
            }
          }
        }
      }

      &.hidden {
        display: none;
      }

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
        margin: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        background: linear-gradient(
          45deg,
          rgba(255, 0, 0, 1) 0%,
          rgba(255, 154, 0, 1) 10%,
          rgba(208, 222, 33, 1) 20%,
          rgba(79, 220, 74, 1) 30%,
          rgba(63, 218, 216, 1) 40%,
          rgba(47, 201, 226, 1) 50%,
          rgba(28, 127, 238, 1) 60%,
          rgba(95, 21, 242, 1) 70%,
          rgba(186, 12, 248, 1) 80%,
          rgba(251, 7, 217, 1) 90%,
          rgba(255, 0, 0, 1) 100%
        );
      }
    }
  }
}



@media(max-width: 700px) {
  .lists {
    .list {

      &-category {

        .item {
          width: 42%;
        }
      }
    }
  }
}



@media(max-width: 500px) {
  .lists {
    .list {

      &-category {

        .item {
          width: 92%;
        }
      }
    }
  }
}
