@import '../../../../style-variables.scss';

.new-egg {

  h2 {
    text-align: center;
    font-family: $main-font;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
  }
}
