@import '../../../style-variables.scss';

.home {

  .instructions {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: $white;
    text-align: center;
    width: auto;
    position: absolute;
    border-radius: 15px;
    padding: 10px 20px;

    h1 {
      font-size: 3rem;
      margin: 20px 0 50px;
    }

    p {
      font-size: 1.7rem;
      line-height: 2rem;
      margin: 26px 0;
    }
  }
}
