<div class="battle-statistics">
  <h1 *ngIf="battleResult.winner === 1">Congratulations, you won!</h1>
  <h1 *ngIf="battleResult.winner === 2">Sorry, you lose...</h1>

  <div class="battle-statistics-header">
    <div class="name">
      <p>{{fighter.name}}</p>
    </div>
    <div class="versus">
      <p>vs</p>
    </div>
    <div class="name">
      <p>{{opponent.name}}</p>
    </div>
  </div>

  <div class="battle-statistics-data">
    <div class="round" *ngFor="let round of battleResult.log.assaults">
      <div class="round-data">
        <p>{{round.c1life + ' - ' + round.c2result + ' = ' + (round.c1life - round.c2result)}}</p>
      </div>
      <div class="round-number">
        <p>{{round.round + 1}}</p>
      </div>
      <div class="round-data">
        <p>{{round.c2life + ' - ' + round.c1result + ' = ' + (round.c2life - round.c1result)}}</p>
      </div>
    </div>
  </div>

  <div class="battle-statistics-footer">
    <div class="result">
      <p *ngIf="battleResult.winner === 1">WIN (+2 XP)</p>
      <p *ngIf="battleResult.winner === 2">LOSE (+1 XP)</p>
    </div>
    <div class="versus"></div>
    <div class="result">
      <p *ngIf="battleResult.winner === 2">WIN (+2 XP)</p>
      <p *ngIf="battleResult.winner === 1">LOSE (+1 XP)</p>
    </div>
  </div>
</div>
