<div class="nav-title" routerLink="/pages/home">
  <h1>GACHAPON</h1>
  <h2>ガシャポン</h2>
  <p >{{account}}</p>
</div>

<div class="nav-wallet" *ngIf="!walletIsConnected" (click)="connectWallet()">
  <div class="nav-button">
    <h1>Please connect your wallet.</h1>
    <mat-icon class="nav-button-icon">account_balance_wallet</mat-icon>
  </div>
</div>

<div class="nav-topleft" *ngIf="walletIsConnected">
  <div class="nav-button" routerLink="/pages/gachapon" id="button-gachapon">
    <img src="../../../assets/images/buttons/gachapon.png" />
    <span class="button-tip">Gachapon</span>
  </div>
  <div class="nav-button" (click)="openDialog()">
    <img src="../../../assets/images/buttons/list.png" />
    <span class="button-tip">list</span>
  </div>
</div>

<div class="nav-topright" *ngIf="walletIsConnected">
  <div class="nav-button" routerLink="/pages/eggs" id="button-eggs">
    <img src="../../../assets/images/buttons/eggs.png" />
    <span class="button-tip">Eggs</span>
  </div>
  <div class="nav-button" routerLink="/pages/incubators" id="button-incubators">
    <img src="../../../assets/images/buttons/incubators.png" />
    <span class="button-tip">Incubators</span>
  </div>
</div>

<div class="nav-bottomleft" *ngIf="walletIsConnected">
  <div class="nav-button" routerLink="/pages/playground" id="button-playground">
    <img src="../../../assets/images/buttons/playground.png" />
    <span class="button-tip">Playground</span>
  </div>
  <div class="nav-button" routerLink="/pages/school" id="button-school">
    <img src="../../../assets/images/buttons/school.png" />
    <span class="button-tip">School</span>
  </div>
  <div class="nav-button" routerLink="/pages/gym" id="button-gym">
    <img src="../../../assets/images/buttons/gym.png" />
    <span class="button-tip">GYM</span>
  </div>
</div>

<div class="nav-bottomright" *ngIf="walletIsConnected">
  <div class="nav-button" routerLink="/pages/lobby">
    <mat-icon class="nav-button-icon">local_dining</mat-icon>
  </div>
</div>
