@import '../../../style-variables.scss';

.nav-title {
  background-color: tomato;
  cursor: pointer;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);

  h1 {
    font-family: 'Neucha', cursive !important;
    font-size: 2rem;
    margin: 10px 30px 0;
  }

  h2 {
    margin: 0;
  }

  p {
    margin: 5px;
  }
}

.nav-topleft {
  position: absolute;
  left: 0%;
  z-index: 10;

  .nav-button {
    &.active { filter: hue-rotate(-25deg); }
    &:hover { filter: hue-rotate(-25deg); }
  }
}

.nav-topright {
  position: absolute;
  right: 0%;
  z-index: 10;

  .nav-button {
    &.active { filter: hue-rotate(-35deg); }
    &:hover { filter: hue-rotate(-35deg); }
  }
}

.nav-bottomleft {
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 10;

  .nav-button {
    display: inline-block;

    &.active { filter: hue-rotate(45deg); }
    &:hover { filter: hue-rotate(45deg); }
  }
}

.nav-bottomright {
  position: absolute;
  bottom: 0%;
  right: 0%;
  z-index: 10;

  .nav-button {
    background-color: $interface-red;
    display: inline-block;
    margin: 5px 0 0 5px;
    border-radius: 15px 0 0 0;

    &.active {
      background-color: $interface-red-active;
    }

    &:hover {
      background-color: $interface-red-active;
    }
  }
}

.nav-button {
  position: relative;
  cursor: pointer;
  text-align: center;
  padding: 5px;

  img {
    filter: drop-shadow(0px 0px 6px $black);
    height: 150px;
    margin: 10px;
  }

  .button-tip {
    display: none;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px #ffffff;
  }

  &.active {
    .button-tip {
      display: block;
    }
  }

  &:hover {
    .button-tip {
      display: block;
    }
  }
}




@media(max-width: 600px) {

  .nav-bottomleft {
    width: 100vw;
    margin: 0;

    .nav-button {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 33.33%;
    }
  }

  .nav-bottomright {
    position: absolute;
    bottom: 18%;
    right: unset;
    width: 100vw;
    text-align: center;

    .nav-button {
      width: 80vw;
      border-radius: 15px;
    }
  }

  .nav-button {

    img {
      height: 110px;
    }

    &-icon {
      font-size: 2rem;
    }
  }
}
