<div class="nav-title" routerLink="/pages/home">
  <h1>GACHAPON</h1>
  <h2>ガシャポン</h2>
  <p >{{account}}</p>
</div>

<div class="nav-wallet" *ngIf="!walletIsConnected" (click)="connectWallet()">
  <div class="nav-button">
    <h1>Please connect your wallet.</h1>
    <mat-icon class="nav-button-icon">account_balance_wallet</mat-icon>
  </div>
</div>

<div class="nav-topleft" *ngIf="walletIsConnected">
  <div class="nav-button gachapon" routerLink="/pages/gachapon" id="button-gachapon">
    <img class="location" src="../../../assets/images/buttons/gachapon.png" />
    <img class="location active" src="../../../assets/images/buttons/gachapon_active.png" />
  </div>
  <div class="nav-button" (click)="openDialog()">
    <img src="../../../assets/images/buttons/list.png" />
  </div>
</div>

<div class="nav-topright" *ngIf="walletIsConnected">
  <div class="nav-button" routerLink="/pages/eggs" id="button-eggs">
    <img class="location" src="../../../assets/images/buttons/eggs.png" />
    <img class="location active" src="../../../assets/images/buttons/eggs_active.png" />
  </div>
  <div class="nav-button" routerLink="/pages/incubators" id="button-incubators">
    <img class="location" src="../../../assets/images/buttons/incubators.png" />
    <img class="location active" src="../../../assets/images/buttons/incubators_active.png" />
  </div>
</div>

<div class="nav-bottomleft" *ngIf="walletIsConnected">
  <div class="nav-button" routerLink="/pages/playground" id="button-playground">
    <img class="location" src="../../../assets/images/buttons/playground.png" />
    <img class="location active" src="../../../assets/images/buttons/playground_active.png" />
  </div>
  <div class="nav-button" routerLink="/pages/school" id="button-school">
    <img class="location " src="../../../assets/images/buttons/school.png" />
    <img class="location active" src="../../../assets/images/buttons/school_active.png" />
  </div>
  <div class="nav-button" routerLink="/pages/gym" id="button-gym">
    <img class="location " src="../../../assets/images/buttons/gym.png" />
    <img class="location active" src="../../../assets/images/buttons/gym_active.png" />
  </div>
</div>

<div class="nav-bottomright" *ngIf="walletIsConnected">
  <div class="nav-button" routerLink="/pages/lobby">
    <img class="location desktop" src="../../../assets/images/buttons/battle.png" />
    <img class="location desktop active" src="../../../assets/images/buttons/battle_active.png" />

    <img class="location mobile" src="../../../assets/images/buttons/battle_mobile.png" />
    <img class="location mobile active" src="../../../assets/images/buttons/battle_mobile_active.png" />
  </div>
</div>
