/* Color variables */

$black: #000000;
$white: #ffffff;

$lightgrey: #dddddd;


/* Interface buttons */

// Regular
$button-blue: #2a5cff;
$button-green: #47ee31;
$button-red: #ce2e2e;
$button-yellow: #ffd30f;

// Active
$button-blue-active: #81cdff;
$button-green-active: #9bff8e;
$button-red-active: #ff8383;
$button-yellow-active: #ffe679;
