@import './style-variables.scss';

body {
  background-color: black;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: $main-font;
}

// List container
.list-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
  background-color: transparent !important;
  box-shadow: unset;
  height: 80vh;
  width: 80vw;
  max-width: 700px;
  max-height: 700px;
}

// List container
.fighter-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
  background-color: transparent !important;
  box-shadow: unset;
  height: 80vh;
  width: 80vw;
  max-width: 80vw;
  max-height: 80vh;
}

// Background images style

.gamescreen,
.background {
  margin: auto;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  max-width: 2000px;
  min-height: 500px;
  max-height: 1200px;
}

.gamescreen {
  position: relative;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.home { background-image: url('./assets/images/backgrounds/home.png'); }
  &.gachapon { background-image: url('./assets/images/backgrounds/gacha_background.png'); }
  &.eggcare { background-image: url('./assets/images/backgrounds/eggs.png'); }
  &.incubators { background-image: url('./assets/images/backgrounds/incubators.png'); }
  &.playground { background-image: url('./assets/images/backgrounds/playground.png'); }
  &.school { background-image: url('./assets/images/backgrounds/school.png'); }
  &.gym { background-image: url('./assets/images/backgrounds/gym.png'); }
  &.lobby { background-image: url('./assets/images/backgrounds/lobby.png'); }
  &.battle { background-image: url('./assets/images/backgrounds/battle.png'); }
}




@media(max-width: 600px) {

}
