body {
  margin: 0;
  font-family: 'Neucha', cursive !important;
}

// List container
.list-dialog-container .mat-dialog-container {
  padding: 0;
  overflow: hidden;
  background-color: transparent !important;
  box-shadow: unset;
  height: 80vh;
  width: 80vw;
  max-width: 700px;
  max-height: 700px;
}

// Background images style

.gamescreen,
.background {
  margin: auto;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  max-width: 2000px;
  min-height: 500px;
  max-height: 1200px;
}

.gamescreen {
  position: relative;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.gachapon { background-image: url('./assets/images/backgrounds/gachapon.jpg'); }
  &.eggcare { background-image: url('./assets/images/backgrounds/eggs.png'); }
  &.incubators { background-image: url('./assets/images/backgrounds/incubators.jpg'); }
  &.playground { background-image: url('./assets/images/backgrounds/playground.png'); }
  &.school { background-image: url('./assets/images/backgrounds/school.jpg'); }
  &.gym { background-image: url('./assets/images/backgrounds/gym.jpg'); }
}




@media(max-width: 600px) {

}
