/* Fonts */
$main-font: 'Neucha', cursive !important;

/* Color variables */

$black: #000000;
$white: #ffffff;

$lightgrey: #dddddd;


/* Interface buttons */

// Regular
$interface-blue: #2a5cff;
$interface-green: #47ee31;
$interface-red: #ce2e2e;
$interface-yellow: #ffd30f;

// Active
$interface-blue-active: #81cdff;
$interface-green-active: #9bff8e;
$interface-red-active: #ff8383;
$interface-yellow-active: #ffe679;


/* Interaction buttons */

// Regular
$button-blue: #0098fd;
$button-blue-border: #005288;
$button-green: #38dd23;
$button-green-border: #0f8300;
$button-yellow: #ffc400;
$button-yellow-border: #c59700;

// Active
$button-blue-active: #00e1ff;
$button-blue-active-border: #009fb4;
$button-green-active: #a0fb8d;
$button-green-active-border: #519343;
$button-yellow-active: #ffdd6e;
$button-yellow-active-border: #dfab00;

// Battle
$green-win: #85eb85;
$red-lose: #ff7c7c;



/* Slider Styling */

.swiper-arrows {
  display: none;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  .prev {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    left: 0;
    height: 100px;
    width: 100px;
    font-size: 100px;
    -webkit-animation: prev-arrow 1s ease-in-out infinite;
    animation: prev-arrow 1s ease-in-out infinite;

    @keyframes prev-arrow {
      0%   { left: 0px; }
      50%  { left: -5px; }
      100% { left: 0px; }
    }
  }

  .next {
    transform: rotate(180deg) scaleY(-1);
    cursor: pointer;
    position: absolute;
    z-index: 5;
    right: 0;
    height: 100px;
    width: 100px;
    font-size: 100px;
    -webkit-animation: next-arrow 1s ease-in-out infinite;
    animation: next-arrow 1s ease-in-out infinite;

    @keyframes next-arrow {
      0%   { right: 0px; }
      50%  { right: -5px; }
      100% { right: 0px; }
    }
  }
}
