/* Color variables */

$black: #000000;
$white: #ffffff;

$lightgrey: #dddddd;


/* Interface buttons */

// Regular
$interface-blue: #2a5cff;
$interface-green: #47ee31;
$interface-red: #ce2e2e;
$interface-yellow: #ffd30f;

// Active
$interface-blue-active: #81cdff;
$interface-green-active: #9bff8e;
$interface-red-active: #ff8383;
$interface-yellow-active: #ffe679;


/* Interaction buttons */

// Regular
$button-blue: #0098fd;
$button-blue-border: #005288;

// Active
$button-blue-active: #00e1ff;
$button-blue-active-border: #009fb4;
